{% extends 'AdminBundle:Default:index.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Relacionamento de Produtos > Novo</strong>
        </div>
        <div class="panel-body">

            {{ form_start(form, {'method': 'POST'}) }}
            <div class="form-horizontal">

                <div class="form-group">
                    {{ form_label(form.idproduto1, 'Produto 1', {'label_attr': {'class': 'col-md-1'}}) }}

                    <div class="col-md-3">
                        {{ form_widget(form.idproduto1, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.idproduto2, 'Produto 2', {'label_attr': {'class': 'col-md-1'}}) }}

                    <div class="col-md-3">
                        {{ form_widget(form.idproduto2, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <a href="{{ path('admin_produto_grafo_lista') }}" class="btn btn-default">
                            <i class="glyphicon glyphicon-arrow-left"></i> Voltar
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="glyphicon glyphicon-ok"></i> Salvar
                        </button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
