{% extends 'AdminBundle:Default:index.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Relacionamento de Produtos - Grafo</strong>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Produto 1</th>
                    <th>Produto 2</th>
                    <th>Opções</th>
                </tr>
                </thead>
                <tbody>
                {% for produto in produtos %}
                    <tr>

                        <td>{{ produto.id }}</td>
                        <td>{{ produto.idproduto1.descricao }}</td>
                        <td>{{ produto.idproduto2.descricao }}</td>

                        <td>
                            <ul>
                                <a href="{{ path('admin_produto_grafo_edit', { 'id': produto.id }) }}"
                                   class="btn btn-default">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('admin_produto_grafo_new') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i> Adicionar
            </a>
        </div>
    </div>
{% endblock %}
