<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}" />
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <style>
            table, .panel {
                margin: 20px auto;
            }
            table > thead > tr > td {
                font-weight: bold;
                font-size: 17px;
            }
            ul > li {
                list-style-type: none;
            }
        </style>
        {% block head %}

        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home_admin') }}">Administrador</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="">Pedidos</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produtos<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ path('admin_produto_new') }}">Inclusão</a></li>
                        <li><a href="{{ path('admin_produto_lista') }}">Consulta</a></li>

                        <li role="separator" class="divider"></li>

                        <li><a href="{{ path('admin_categoria_lista') }}">Categorias</a></li>
                        <li><a href="{{ path('admin_cor_lista') }}">Cores</a></li>
                        <li><a href="{{ path('admin_genero_lista') }}">Generos</a></li>
                        <li><a href="{{ path('admin_marca_lista') }}">Marcas</a></li>
                        <li><a href="{{ path('admin_tamanho_lista') }}">Tamanhos</a></li>

                          <li role="separator" class="divider"></li>

                          <li><a href="{{ path('admin_produto_grafo_lista') }}">Relacionamento de produtos (Grafo)</a></li>
                      </ul>
                    </li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div style="width: 95%; margin: 0 auto;">
        {% block flashBagMessages %}
            {% include "AdminBundle:Default:flash_bag_messages.html.twig" %}
        {% endblock %}

        {% block body %}
            
        {% endblock %}
    </div>
    </body>
</html>