{% extends 'base.html.twig' %}

{% block body %}
    <h1>ProdutoCor list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Descricao</th>
                <th>Peso</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produtoCor in produtoCors %}
            <tr>
                <td><a href="{{ path('produtocor_show', { 'id': produtoCor.id }) }}">{{ produtoCor.id }}</a></td>
                <td>{{ produtoCor.descricao }}</td>
                <td>{{ produtoCor.peso }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('produtocor_show', { 'id': produtoCor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('produtocor_edit', { 'id': produtoCor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produtocor_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
