{% extends 'base.html.twig' %}

{% block body %}
    <h1>ProdutoCor</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produtoCor.id }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ produtoCor.descricao }}</td>
            </tr>
            <tr>
                <th>Peso</th>
                <td>{{ produtoCor.peso }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produtocor_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('produtocor_edit', { 'id': produtoCor.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
