{% extends 'AdminBundle:Default:index.html.twig' %}

	{% block body %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Produtos > Categorias</strong>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Descrição</th>
                        <th>Peso</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for produtoCategoria in produtoCategorias %}
                        <tr>
                            <td>
                                {{ produtoCategoria.id }}
                            </td>
                            <td>{{ produtoCategoria.descricao }}</td>
                            <td>{{ produtoCategoria.peso }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('admin_produto_categoria_edit', { 'id': produtoCategoria.id }) }}"
                                           class="btn btn-default">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('admin_categoria_new') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-edit"></i> Adicionar
                </a>
            </div>
        </div>
    {% endblock %}
