{% extends 'AdminBundle:Default:index.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Produto > Categorias > Nova</strong>
        </div>
        <div class="panel-body">
            {{ form_start(form, {'method': 'POST'}) }}

            <div class="form-group">
                {{ form_label(form.descricao, 'Descrição') }}
                {{ form_widget(form.descricao, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.peso) }}
                {{ form_widget(form.peso, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                <a href="{{ path('produtocategoria_index') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-arrow-left"></i> Voltar
                </a>
                <button type="submit" class="btn btn-success">
                    <i class="glyphicon glyphicon-ok"></i> Salvar
                </button>
            </div>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
