{% extends 'base.html.twig' %}

{% block body %}
    <h1>ProdutoVisita list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datacadastro</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produtoVisitum in produtoVisitas %}
            <tr>
                <td><a href="{{ path('produtovisita_show', { 'id': produtoVisitum.id }) }}">{{ produtoVisitum.id }}</a></td>
                <td>{{ produtoVisitum.datacadastro }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('produtovisita_show', { 'id': produtoVisitum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('produtovisita_edit', { 'id': produtoVisitum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produtovisita_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
