{% extends 'base.html.twig' %}

{% block body %}
    <h1>ProdutoMarca</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produtoMarca.id }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ produtoMarca.descricao }}</td>
            </tr>
            <tr>
                <th>Peso</th>
                <td>{{ produtoMarca.peso }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produtomarca_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('produtomarca_edit', { 'id': produtoMarca.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
